#navbarHeader {
  display: flex;
  justify-content: center;

  .close-button {
    position: absolute;
    top: 3px;
    right: 10px;
  }

  .header-content {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    .header-image {
      position: absolute;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      height: 120px;
      width: 130px;
  }
  
    .header-text {
      font-size: 35px;
      font-family: 'omyu_pretty';
      font-weight: bold;
      margin-top: 30px;
      color: rgb(0, 0, 0);
      text-shadow: -1.5px -1.5px 0 #ffffff, 1.5px -1.5px 0 #ffffff, -1.5px 1.5px 0 #ffffff, 1.5px 1.5px 0 #ffffff;
    }
}

}
