#navbarHeader {
  display: flex;
  justify-content: center;

  .close-button {
    position: absolute;
    top: 3px;
    right: 10px;
  }

  .header-content {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .header-image {
      height: 55px;
      width: 65px;
      margin-right: 10px;
    }
  
    .header-text {
      font-size: 35px;
      font-family: 'omyu_pretty';
      color: #000000;
      font-weight: bold;
      margin: 0; // Corrected margin value
    }
  }

}
