.loa-navbar-footer {
  width: 100%;
  padding: 10px 0; 
  position: absolute;
  bottom: 0;
  text-align: center;
  border-radius: 1px;
  p {
    color: rgb(215, 215, 215); 
  }
}

#learningAssistantNavbar {
  width: 300px;
  position: fixed;
  top: 100px;
  left: calc(100% - 310px);
  background-color: #E1FFFD;
  border: 3px solid #00959E;
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#navbarContent {
  padding: 10px 20px 20px 20px;
  height: 100%;
}

.creating {
  background-color: gray;
}