$position-values: (
  0: 0,
  1: 1%,
  2: 2%,
  3: 3%,
  4: 4%,
  5: 5%,
  6: 6%,
  7: 7%,
  8: 8%,
  9: 9%,
  10: 10%,
  11: 11%,
  12: 12%,
  13: 13%,
  14: 14%,
  15: 15%,
  16: 16%,
  17: 17%,
  18: 18%,
  19: 19%,
  20: 20%,
  21: 21%,
  22: 22%,
  23: 23%,
  24: 24%,
  25: 25%,
  26: 26%,
  27: 27%,
  28: 28%,
  29: 29%,
  30: 30%,
  31: 31%,
  32: 32%,
  33: 33%,
  34: 34%,
  35: 35%,
  36: 36%,
  37: 37%,
  38: 38%,
  39: 39%,
  40: 40%,
  41: 41%,
  42: 42%,
  43: 43%,
  44: 44%,
  45: 45%,
  46: 46%,
  47: 47%,
  48: 48%,
  49: 49%,
  50: 50%,
  51: 51%,
  52: 52%,
  53: 53%,
  54: 54%,
  55: 55%,
  56: 56%,
  57: 57%,
  58: 58%,
  59: 59%,
  60: 60%,
  61: 61%,
  62: 62%,
  63: 63%,
  64: 64%,
  65: 65%,
  66: 66%,
  67: 67%,
  68: 68%,
  69: 69%,
  70: 70%,
  71: 71%,
  72: 72%,
  73: 73%,
  74: 74%,
  75: 75%,
  76: 76%,
  77: 77%,
  78: 78%,
  79: 79%,
  80: 80%,
  81: 81%,
  82: 82%,
  83: 83%,
  84: 84%,
  85: 85%,
  86: 86%,
  87: 87%,
  88: 88%,
  89: 89%,
  90: 90%,
  91: 91%,
  92: 92%,
  93: 93%,
  94: 94%,
  95: 95%,
  96: 96%,
  97: 97%,
  98: 98%,
  99: 99%,
  100: 100%,
);

$index-normal: 1;
$index-upper: 1000;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $index-upper;
  background: rgba(0, 0, 0, 0.3);
}

#quiz-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  .modal-content {
    width: 400px;
  }
}

#analysis-info-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    width: 500px;
  }
}

#submit-btn {
  padding: 0px 1.125rem;
  appearance: none;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  height: 2.25rem;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  width: auto;
  border-radius: 0.5rem;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  background-color: rgb(0, 196, 113);
  color: rgb(255, 255, 255);
}

#continue-btn {
  padding: 0px 1.125rem;
  appearance: none;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  height: 2.25rem;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  width: auto;
  border-radius: 0.5rem;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  background-color: rgb(0, 104, 231);
  color: rgb(255, 255, 255);
}

#go-back-btn {
  padding: 0px 1.125rem;
  appearance: none;
  text-align: left;
  text-decoration: none;
  box-sizing: border-box;
  height: 2.25rem;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  width: auto;
  border-radius: 0.5rem;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  border: 0.0625rem solid transparent;
  background-color: rgb(255, 166, 0);
  color: rgb(255, 255, 255);
}

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;

  .modal-header {
    font-weight: bold;
    color: black;
  }

  .modal-body {
    display: flex;
    flex-direction: column;

    .btn {
      background: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px 15px;
      margin-top: 10px;

      &:first-child {
        margin-top: 5px;
      }

      &:last-child {
        margin-bottom: 30px;
      }

      &:hover {
        background: #e5f3e8;
        font-weight: bold;
      }

      &.selected {
        background: #cef0d7;
        font-weight: bold;
      }

      &.correct-answer {
        background-color: rgb(103, 103, 255);
      }

      &.wrong-answer {
        background-color: rgb(248, 140, 140);
      }
    }

    .input-answer {
      background: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px 15px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: center;
  }
}

#popuptime-preview {
  #popuptimes-view {
    position: relative;
    display: flex;
    align-items: center;

    i {
      font-size: 1rem; /* 기본 크기 설정 */
      transition: font-size 0.3s ease; /* 호버링시 크기 변화를 위한 transition 설정 */
      margin-bottom: -3rem;
      transform-origin: center; // 가운데를 기준으로 변환
      color: black;

      &:first-child {
        left: 0;
      }

      &:last-child {
        left: 1rem; /* 예시로 간격 설정 */
      }
    }

    &:hover {
      i {
        font-size: 1.5rem; /* 호버링시 크기 증가 */
      }
    }
  }
}

.create-quizsets-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 0.5rem 1rem; // 버튼 내부 여백 설정
  border: 1px solid #ddd;
  background-color: #fff; // 배경색 설정
  text-decoration: none; // 링크 기본 스타일 제거
  color: #000; // 텍스트 색상 설정
  border-radius: 4px; // 버튼 모서리를 둥글게 설정
  font-family: 'omyu_pretty';
  font-weight: lighter;

  &:hover {
    background-color: #f0f0f0; // 호버링시 배경색 변경
  }
}

.quizset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; /* 호버링 가능하도록 커서 설정 */

  &:hover {
    background-color: #f0f0f0; /* 호버링시 배경색 변경 */
  }

  &.selected {
    background-color: #f6f6f6; /* 선택시 배경색 변경 */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) inset;
  }

  > div {
    display: flex;
    align-items: center;
  }

  p.author-nickname {
    font-family: 'omyu_pretty';
    font-size: 1.2rem; /* 큰 글씨 크기 설정 */
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 설정 */
    align-items: center;
    margin-bottom: 0; /* p의 하단 여백 제거 */
  }

  span.create-at {
    margin-left: auto; /* 오른쪽으로 붙이기 */
    color: gray; /* 회색 글자 색상 설정 */
    font-size: 0.8rem; /* 작은 글씨 크기 설정 */
  }

  .quizset-title-container {
    position: relative;
  
    .quizset-title {
      float: left; 
      font-family: 'omyu_pretty';
      font-size: 1.5rem; /* 큰 글씨 크기 설정 */
      margin-right: 10px; /* h2와 span 사이의 간격 조정 */
      margin-bottom: 0; /* h2의 하단 여백 제거 */
    }
    
  }
}

.analysis-btn {
  background-color: white;
  padding: 10px 20px;
  margin: 30px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'omyu_pretty';
  font-size: 1.2rem;

  &:hover {
    background-color: #c7c4c4; // 호버링시 배경색 변경
  }

  &:disabled {
    background-color: #c7c4c4;
    color: white;
  }
}
