@import "workbook";
@import "header";
@import "navbar";
@import "loa-modal";
@import "loa-icon";
@import "webcam";
@import "analysis";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../node_modules/bootstrap/scss/_progress";
@import "../node_modules/bootstrap/scss/_list-group";
@import "../node_modules/bootstrap/scss/_spinners";
@import url("https://fastly.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.loa-logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}