.loa-header {
  font-size: 24px;
  color: rgb(0, 0, 0);
  padding: 20px 0;
  font-weight: bold;
}

.loa-body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(255, 255, 255);
  text-align: center;
  width: 200px;
}

.loa-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.1s;
}

.loa-button:hover {
  background-color: rgb(255, 255, 255);
}

.loa-button:active {
  transform: translate(2px, 2px);
}

.auth-code-input {
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.message {
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  color: #fff;
}

.error {
  background-color: #f44336;
}

.success {
  background-color: rgb(0, 0, 0);
}

.controls,
.centered {
  display: none;
  margin-top: 10px;
}

.centered {
  display: flex;
  justify-content: center;
}
